openapi: 3.1.0
info:
  title: Duda Partner Accounts Pages API
  version: '1.0'
  description: The Duda Partner API is a REST API that enables partners and agencies to programmatically create and manage websites, pages, templates, sections, content, widgets, eCommerce stores, blog posts, dynamic collections, memberships, bookings, and white-label client portal access. It supports SSO for seamless user login into the Duda editor and provides webhook integration for event-driven workflows.
  contact:
    name: Duda Developer Documentation
    url: https://developer.duda.co
  termsOfService: https://www.duda.co/terms-of-service
  license:
    name: Proprietary
servers:
- url: https://api.duda.co/api
  description: Duda Production API
security:
- basicAuth: []
tags:
- name: Pages
  description: Create and manage site pages
paths:
  /sites/multiscreen/{site_name}/pages:
    get:
      operationId: pages-v2-list-pages
      summary: List Pages
      description: Get details of all the Pages of a Site.
      tags:
      - Pages
      parameters:
      - name: site_name
        in: path
        required: true
        description: The unique identifier of the target Site.
        schema:
          type: string
      responses:
        '200':
          description: List of pages
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                        title:
                          type: string
                        path:
                          type: string
                        type:
                          type: string
                        draft_status:
                          type: string
                        header_html:
                          type: string
                        seo:
                          type: object
                          properties:
                            title:
                              type: string
                            description:
                              type: string
                            no_index:
                              type: boolean
                            og_image:
                              type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: pages-v2-create-page
      summary: Create Page
      description: Creates a new Page on a site.
      tags:
      - Pages
      parameters:
      - name: site_name
        in: path
        required: true
        description: The unique identifier of the target Site.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - page
              properties:
                page:
                  type: object
                  required:
                  - title
                  - path
                  properties:
                    title:
                      type: string
                    path:
                      type: string
                      description: Do not include the beginning slash.
                    draft_status:
                      type: string
                      enum:
                      - DRAFT
                      - STAGED_DRAFT
                      default: STAGED_DRAFT
                    header_html:
                      type: string
                    seo:
                      type: object
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        no_index:
                          type: boolean
                          default: false
                        og_image:
                          type: string
                type:
                  type: string
                  enum:
                  - REGULAR
                  - DYNAMIC
                  default: REGULAR
                collection:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Required when type is DYNAMIC
      responses:
        '200':
          description: Page created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                  page:
                    type: object
                  type:
                    type: string
                  collection:
                    type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
        message:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using API user credentials (base64 encoded user:pass)
